<!DOCTYPE html>
<html>
<head>
  <title>Nanacolumns</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Favicon-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

  <!--Modernizr-->
		<%= javascript_include_tag 'modernizr.custom'%>
  <!--Adding Media Queries Support for IE8-->
  <!--[if lt IE 9]>
    <script src="js/plugins/respond.min.js"></script>
    <script src="js/plugins/excanvas.js"></script>
  <![endif]-->
</head>
<body>

  
<%= yield %>

</body>
</html>

